<div class="container fullWindow">
  <div class=" model-outer  shadow">
    <div class="model">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="logIn-tab" data-toggle="tab" href="#logIn" role="tab" aria-controls="logIn" aria-selected="true">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signUp-tab" data-toggle="tab" href="#signUp" role="tab" aria-controls="signUp" aria-selected="false">Sign Up</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- log in  -->
        <div class="tab-pane fade show active" id="logIn" role="tabpanel" aria-labelledby="logIn-tab">
          <app-login></app-login>
        </div>  
        <!-- sign up -->
        <div class="tab-pane fade" id="signUp" role="tabpanel" aria-labelledby="signUp-tab">
          <app-register></app-register>
        </div>
      </div>
    </div>
  </div>
</div>